#car .header .dizhi .bottom, #car .header .login .ul li .yiyao .bottom1 {
  position: absolute;
  left: 92px;
  top: 15px;
  display: inline-block;
  border-right: 1px solid;
  border-top: 1px solid;
  width: 5px;
  height: 5px;
  transform: rotate(135deg);
}

#car .header .dizhi .top, #car .header .login .ul li .yiyao .top1 {
  position: absolute;
  left: 92px;
  top: 18px;
  display: inline-block;
  border-left: 1px solid;
  border-top: 1px solid;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.container {
  width: 980px;
}

#car .header {
  background: #F1F1F1;
  font-size: 12px;
  line-height: 37px;
  position: relative;
  z-index: 9999;
}

#car .header .dizhi {
  width: 108px;
  height: 37px;
}

#car .header .dizhi .song {
  margin: 0 5px;
  display: inline-block;
}

#car .header .dizhi ul {
  display: none;
  padding-left: 10px;
  padding-top: 5px;
  width: 280px;
  height: 370px;
  border: 1px solid #ddd;
  border-top: none;
}

#car .header .dizhi ul li {
  height: 24px;
  line-height: 24px;
}

#car .header .dizhi ul li a {
  color: #5E5E5E;
}

#car .header .dizhi ul li i {
  margin-right: 8px;
}

#car .header .dizhi ul li span {
  margin-right: 10px;
}

#car .header .dizhi ul li .bold {
  font-weight: bold;
}

#car .header .login .ul {
  width: 478px;
  height: 37px;
}

#car .header .login .ul li {
  float: left;
}

#car .header .login .ul li a {
  display: inline-block;
  height: 37px;
}

#car .header .login .ul li .yiyao {
  position: relative;
}

#car .header .login .ul li .yiyao .yi {
  padding-right: 20px;
}

#car .header .login .ul li .yiyao .bottom1 {
  position: absolute;
  left: 70px;
  top: 15px;
}

#car .header .login .ul li .yiyao .top1 {
  position: absolute;
  left: 70px;
  top: 18px;
}

#car .header .login .ul li span {
  display: inline-block;
  line-height: 12px;
  color: #5E5E5E;
  padding: 0 9px;
  border-right: 1px solid #E0E0E0;
}

#car .header .login .ul li .lg {
  margin-right: 5px;
  padding: 0;
  border-right: none;
  color: #E54948;
}

#car .header .login .ul li a:hover .lg {
  text-decoration: underline;
}

#car .header .login .ul li .sg {
  padding-left: 0;
}

#car .header .login .ul li .help {
  color: #C9A978;
}

#car .header .login .ul li .phone {
  display: inline-block;
  width: 9px;
  height: 13px;
  margin: 0 9px;
  background: url(../img/shouji.png) no-repeat;
}

#car .header .login .ul li .shouji {
  padding-left: 0;
}

#car .header .login .ul .li1 {
  position: relative;
}

#car .header .login .ul .li1 .myul {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  width: 100%;
  padding-top: 8px;
  border: 1px solid #ddd;
  border-top: none;
}

#car .header .login .ul .li1 .myul li {
  width: 100%;
  padding-left: 8px;
  clear: both;
  height: 24px;
  line-height: 24px;
}

#car .header .login .ul .li1 .myul li a {
  color: #5E5E5E;
}

#car .header .login .ul .li1:hover .myul {
  display: block;
  background: #fff;
}

#car .header .login .ul .myul li:hover {
  background: #F1F1F1;
}

#car .header .login .ul .li2 {
  position: relative;
}

#car .header .login .ul .li2 ul {
  display: none;
  padding-top: 10px;
  width: 220px;
  height: 240px;
  position: absolute;
  left: -70px;
  top: 36px;
  border: 1px solid #ddd;
  border-top: none;
}

#car .header .login .ul .li2 ul li {
  width: 100%;
  clear: both;
  position: relative;
}

#car .header .login .ul .li2 ul li .sp1 {
  position: absolute;
  left: 102px;
  top: 6px;
  border: none;
}

#car .header .login .ul .li2 ul li .sp2 {
  position: absolute;
  left: 102px;
  top: 36px;
  border: none;
  color: red;
  font-weight: bold;
}

#car .header .login .ul .li2:hover {
  background: #fff;
}

#car .header .login .ul .li2:hover ul {
  display: block;
  background: #fff;
}

#car .cars {
  font-size: 12px;
}

#car .cars .xuan {
  height: 36px;
  line-height: 36px;
  background: #F3F3F3;
  padding-left: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#car .cars .xuan li {
  float: left;
}

#car .cars .xuan li .quan {
  margin-right: 5px;
}

#car .cars .yiyaow p {
  border: 1px solid #ddd;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  background: #fff;
  border-bottom: none;
}

#car .cars .yiyaow .cart-body {
  border: 1px solid #ddd;
  background: #F3F3F3;
  margin-bottom: 10px;
}

#car .cars .yiyaow .cart-body .product-info {
  padding-left: 10px;
  height: 82px;
  line-height: 82px;
  position: relative;
}

#car .cars .yiyaow .cart-body .product-info a {
  color: #5E5E5E;
}

#car .cars .yiyaow .cart-body .product-info li {
  float: left;
}

#car .cars .yiyaow .cart-body .product-info li .imgs-1 {
  width: 62px;
  height: 62px;
  margin-left: 18px;
  margin-right: 10px;
}

#car .cars .yiyaow .cart-body .product-info .unit-price {
  width: 45px;
  margin-left: 12px;
  margin-right: 42px;
}

#car .cars .yiyaow .cart-body .product-info .qty {
  width: 85px;
  margin-right: 33px;
}

#car .cars .yiyaow .cart-body .product-info .qty #qty {
  width: 33px;
  height: 21px;
}

#car .cars .yiyaow .cart-body .product-info .product {
  width: 338px;
}

#car .cars .yiyaow .cart-body .product-info .product .product-name {
  width: 265px;
}

#car .cars .yiyaow .cart-body .product-info .weight {
  margin-right: 74px;
}

#car .cars .yiyaow .cart-body .product-info .subtotal {
  margin-right: 72px;
  margin-left: 86px;
}

#car .cars .yiyaow .cart-body .product-total {
  height: 64px;
  text-align: right;
  line-height: 64px;
}

#car .cars .yiyaow .cart-body .product-total span {
  display: inline-block;
  width: 58px;
  height: 64px;
  text-align: center;
  position: relative;
}

#car .cars .yiyaow .cart-body .product-total span i {
  height: 0;
  position: absolute;
  right: 22px;
  top: 19px;
  color: red;
  font-weight: bold;
}

#car .cars .yiyaow .cart-body .product-total span .cs2 {
  position: absolute;
  right: 12px;
  top: 19px;
}

#car .cars .yiyaow .cart-body .product-total span .cs3 {
  position: absolute;
  right: 0px;
  top: 19px;
}

#car .cars .yiyaow .cart-body .product-total span .cs4 {
  position: absolute;
  right: 9px;
  top: 19px;
}

#car .cars .yiyaow .cart-body .product-total .product-all-price {
  margin-right: 10px;
}

#car .cars .yiyaow .cart-foot {
  height: 100px;
  border: 1px solid #ddd;
  padding-left: 10px;
}

#car .cars .yiyaow .cart-foot a {
  color: #5E5E5E;
}

#car .cars .yiyaow .cart-foot .sp {
  padding-top: 28px;
  position: relative;
}

#car .cars .yiyaow .cart-foot .sp .sps {
  font-size: 16px;
  color: #a5a5a5;
}

#car .cars .yiyaow .cart-foot .sp .sps .car_total {
  position: absolute;
  left: 106px;
  top: 61px;
  color: red;
  font-weight: bold;
}

#car .cars .yiyaow .cart-foot .sp .aas1 {
  position: absolute;
  right: 167px;
  top: 18px;
}

#car .cars .yiyaow .cart-foot .sp .aas2 {
  position: absolute;
  right: 25px;
  top: 18px;
}
